body {
  counter-reset: i;
}

div {
  counter-increment: i;

  &:after {
    content: '' counter(i);
  }

  &:nth-child(3n) {
    visibility: hidden;

    &:after {
      content: 'Fizz';
      visibility: visible;
    }
  }

  &:nth-child(5n) {
    visibility: hidden;

    &:after {
      content: 'Buzz';
      visibility: visible;
    }
  }

  &:nth-child(15n) {
    visibility: hidden;

    &:after {
      content: 'FizzBuzz';
      visibility: visible;
    }
  }
}
