body {
  counter-reset: i;
}

div {
  counter-increment: i;

  &:after {
    content: "" counter(i);
  }

  &:nth-child(3n) {
    visibility: hidden;

    &:after {
      visibility: visible;
      content: "Fizz";
    }
  }

  &:nth-child(5n) {
    visibility: hidden;

    &:after {
      visibility: visible;
      content: "Buzz";
    }
  }

  &:nth-child(15n) {
    visibility: hidden;

    &:after {
      visibility: visible;
      content: "FizzBuzz";
    }
  }
}
