body
  counter-reset i

div
  counter-increment i
div:after
  content: "" counter(i)

div:nth-child(3n)
  visibility hidden
div:nth-child(3n):after
  visibility visible
  content "Fizz"

div:nth-child(5n)
  visibility hidden
div:nth-child(5n):after
  visibility visible
  content "Buzz"

div:nth-child(15n)
  visibility hidden
div:nth-child(15n):after
  visibility visible
  content "FizzBuzz"