[submodule "go/ddg/vendor/github.com/skratchdot/open-golang"]
	path = system/go/ddg/vendor/github.com/skratchdot/open-golang
	url = https://github.com/skratchdot/open-golang.git
[submodule "go/99bottles/vendor/github.com/mcandre/mage-extras"]
	path = system/go/99bottles/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/applecart/vendor/github.com/mcandre/mage-extras"]
	path = system/go/applecart/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/args/vendor/github.com/mcandre/mage-extras"]
	path = system/go/args/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/ddg/vendor/github.com/mcandre/mage-extras"]
	path = system/go/ddg/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/fibber/vendor/github.com/mcandre/mage-extras"]
	path = system/go/fibber/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/complexderp/vendor/github.com/mcandre/mage-extras"]
	path = system/go/complexderp/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/fizzy/vendor/github.com/mcandre/mage-extras"]
	path = system/go/fizzy/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/freq/vendor/github.com/mcandre/mage-extras"]
	path = system/go/freq/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/hello/vendor/github.com/mcandre/mage-extras"]
	path = system/go/hello/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/hello-timers/vendor/github.com/mcandre/mage-extras"]
	path = system/go/hello-timers/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/lissajous/vendor/github.com/mcandre/mage-extras"]
	path = system/go/lissajous/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/magic/vendor/github.com/mcandre/mage-extras"]
	path = system/go/magic/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/mool/vendor/github.com/mcandre/mage-extras"]
	path = system/go/mool/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/trool/vendor/github.com/mcandre/mage-extras"]
	path = system/go/trool/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/uniq/vendor/github.com/mcandre/mage-extras"]
	path = system/go/uniq/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
[submodule "go/испытание/vendor/github.com/mcandre/mage-extras"]
	path = system/go/испытание/vendor/github.com/mcandre/mage-extras
	url = https://github.com/mcandre/mage-extras
