body {
	text-align: center;
}

img {
	border: 0;
	vertical-align: middle;
}

#form {
	margin-top: 2%;
}

button {
	font-size: 200%;
	margin-top: 2%;
}

.title {
	text-decoration: none;
}

#copyright {
	margin-top: 4%;
}
